<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                     
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.AreaMapper">
    
    <resultMap type='Area' id='AreaResult'>
        <id property='id' column='areaid'/>        
        <result property='name' column='areaname'/>
    </resultMap>
    
    <select id='consultarArea' parameterType='map' resultMap='AreaResult'>
        SELECT
            a.id as areaid,
            a.name as areaname
        FROM Area AS a
        WHERE a.id = #{id};
    </select>
    
    <select id='consultarAreas' parameterType='map' resultMap='AreaResult'>
        SELECT
            a.id as areaid,
            a.name as areaname
        FROM Area AS a;
    </select>
    
    <insert id='insertarArea' parameterType='map'>
        INSERT INTO Area VALUES(#{area.id}, #{area.name});
    </insert>

</mapper>