<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                     
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.CommentMapper">
    
    <resultMap type='Comment' id='CommentResult'>
        <id property='id' column='commentid'/>        
        <result property='description' column='commentdescription'/>
        <result property='commentDate' column='commentdate'/>
        <result property='userEmail' column='CUserEmail'/>
    </resultMap>
    
    <insert id='insertarComentario' parameterType='map'>
        INSERT INTO Comment 
        VALUES(#{com.id}, #{com.description}, #{com.commentDate}, #{com.userEmail}, #{com.initiative.id});
    </insert>

</mapper>