<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                     
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.VoteMapper">
    
    <resultMap type='Vote' id='VoteResult'>
        <id property='id' column='voteid'/>        
        <result property='voteDate' column='votedate'/>
        <result property='affinity' column='voteaffinity'/>
        <result property='userEmail' column='vUserEmail'/>
        <result property='iniciativaId' column='vIniciativaId'/>
    </resultMap>
    
    <resultMap type='java.lang.Integer' id='VoteIdResult'>     
    </resultMap>
    
    <insert id='votar' parameterType='map'>
        INSERT INTO Vote VALUES (#{voto.id}, #{voto.userEmail}, #{voto.voteDate}, #{voto.affinity}, #{voto.iniciativaId});
    </insert>
    
    <select id='consultarIdVoto' parameterType='map' resultMap="VoteIdResult">
        SELECT MAX(id)+1 AS id FROM Vote;
    </select>
    
    <delete id='quitarVoto' parameterType='map'>
        DELETE FROM Vote WHERE user_email = #{userEmail} AND initiative_id = #{idIniciativa};
    </delete>

</mapper>